body {
  margin: 0;
  padding: 0;
  background-color: rgb(63, 63, 63);
  overflow-x: hidden;
}

.zoneDeToasts {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 550px;
  z-index: 1302;
  position: absolute;
}

.top-right {
  top:0;
  right: 0;
}

.top-left {
  top: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.toast {
  width: 350px;
  height: 85px;
  margin: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 7px gray;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.toast h4,
.toast p {
  margin: 4px 0 4px 15px;
}

.toast div {
  z-index: 10;
}

.successIcone::before {
  content: "";
  background-image: url("../img/success.svg");
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
  position: relative;
  z-index: 10;
}

.errorIcone::before {
  content: "";
  background-image: url("../img/error.svg");
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
  z-index: 10;
}

.infoIcone::before {
  content: "";
  background-image: url("../img/info.svg");
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
  z-index: 10;
}

.warningIcone::before {
  content: "";
  background-image: url("../img/warning.png");
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
  z-index: 10;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
}

.close::before {
  content: '';
  background-image: url("../img/cross.svg");
  width: 15px;
  height: 15px;
  display: block;
  background-size: contain;
}

.close:hover {
  cursor: pointer;
}

.successEffect {
  background-color: #a2fb48;
  width: 200px;
  height: 25px;
  transform: rotate(-45deg);
  box-shadow: 0px 0 10px 10px #a2fb48;
  position: absolute;
  left: -50px;
  z-index: 0;
  animation: successEffect 2s ease-in-out forwards;
}