body * {
    font-family: comfortaa;
    margin: 0;
}

body>p {
    text-align: right;
    margin-right: 10px;
}

select,
input,
button {
    font-size: 15px;
}

h1,
.creerNouvelleTache h2 {
    text-align: center;
}

.container {
    margin: 150px auto;
    width: 900px;
    border: 5px solid gray;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 30px black;
}

.creerNouvelleTache {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.creerNouvelleTache>div {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

input,
button,
select {
    margin: 5px;
    padding: 3px 10px;
    border-radius: 3px;
    border: 1px solid grey;
}

button,
select {
    cursor: pointer;
}

input:focus,
button:focus,
select:focus {
    border-color: green;
    outline: 0;
    box-shadow: 0 0 3px green;
}

.erreur {
    border: 1px solid darkred;
    background-color: #fecaca;
    padding: 3px 20px;
    border-radius: 3px;
    text-align: center;
    color: darkred;
    width: fit-content;
    margin: 10px auto;
}

#outils {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    border: 3px solid gray;
    margin: 30px -20px 10px -20px;
    padding: 0 20px;
    color: white;
}

#outils>div {
    display: flex;
    align-items: center;
}

.ordre {
    cursor: pointer;
    border: 3px solid white;
    border-radius: 20px;
    padding: 2px 2px 0 2px;
}

.listeDesTaches h3 {
    margin: 0;
    width: 60%;
}

.checkbox {
    font-size: 40px;
    margin: -10px 10px 0px -10px;
    cursor: pointer;
}

.checked::before {
    content: "🗸";
    font-size: 30px;
    margin-left: 4px;
    margin-right: -27px;
}

.listeDesTaches>div {
    border: 3px solid;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.listeDesTaches>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.listeDesTaches>div>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-left: 20px;
}

.priorite {
    border-radius: 10px;
    padding: 5px;
    white-space: nowrap;
    margin-right: 10px;
}

.basse {
    background-color: chartreuse;
}

.moyenne {
    background-color: orange;
    margin-left: 17px;
}

.elevee {
    background-color: darkred;
    color: white;
    margin-left: 26px;
}

.dateEcheance {
    white-space: nowrap;
}

hr {
    position: absolute;
    width: 0%;
    left: 50px;
    top: 50%;
    opacity: 0;
}

.fullHr {
    transition: width 8s linear;
    width: 90%;
    opacity: 1;
}

.disappear {
    transition: opacity 8s cubic-bezier(1, 0.8, 0.6, 0.4);
    ;
    opacity: 0;
}